/* ------ NUMBERS ------ */
.venue-numbers{
    text-align: center;
    position: relative;
}

.venue-numbers .number-wrapper{
   display: table;
   width: 100%;
   padding-top: 40px;
   /*border-bottom: 1px solid #515151;*/
}

.venue-numbers .fact{
    display: table-cell;
    width: 25%;
    margin-bottom: 15px;
    font-size: 20px;
}

.venue-numbers .title{
    font-family: 'Playfair Display';
    font-size: 18px;
    font-style: italic;
    display: block;
    font-weight: normal;
    color: #515151;
}
.venue-numbers .number{
    font-family: 'Raleway';
    display: block;
    margin-bottom: 15px;
    color: #303030;
    font-size: 36px;
    font-weight: bold;
}

/*HOME PAGE */
#hero2 {
    text-align: center;
}


/*ADDITION HEROES*/

.bg-parallax-addition .section-content .title, .section-paralax-cellar .section-content .subtitle { /*STANDARD*/
    color: #FFF;
}

.section-paralax-itevents { /* IRENE TYNDALE EVENTS */
     background-image: url(../images/wedding/brideonsofa_1720x1071.jpg);
      padding: 145px 0;
    color: #fff;
}

.section-paralax-cellar{ /*CELLAR ADDITION */
    padding: 145px 0;
    color: #fff;
    background-image: url(../images/centralstation/cellar_1720x1071.jpg);
}



.section-paralax-cellar .section-content .title, .section-paralax-cellar .section-content .subtitle {
    color: #FFF;
}
