a{color: #efb916;}
.bz-funfact-style2 .bz-icon-funfact{color: #efb916;}
.bz-element-icon h4 a:hover{ color:#efb916}
.element-icon-3 .icon{background-color: #efb916;}
.element-icon-4 .icon{color: #efb916;}
.element-icon-5 .link-readmore:hover{ color: #efb916;}
.element-icon-6 .icon{border-color: #efb916}
.element-icon-9 .icon{color: #efb916;}
.element-icon-4.bg-icon .icon{
    background: #efb916;
    border-color: #efb916;
}
.bz-tab-style1 .resp-tabs-list li.resp-tab-active{color: #efb916;}
.bz-tab-style2 .resp-tabs-list li:after{background-color: #efb916;}
.bz-tab-style2 .resp-tabs-list li.resp-tab-active{color: #efb916}
.bz-tab-style3 .resp-tabs-list li.resp-tab-active{background: #efb916;}
.bz-tab-style4 .resp-tabs-list li.resp-tab-active{border-left-color: #efb916;}
.bz-tab-style4 .resp-tabs-list li span.number-review{background-color: #efb916;}
.bz-list li .fa{background-color: #efb916;}
.bz-acordion > h3.ui-accordion-header.ui-accordion-header-active{color: #efb916;}
.section-title.title-style4 .title span{color: #efb916;}
.section-title .title span{color: #efb916;}
.title-style7 .hr{ background-color: #efb916;}
.portfolio_fillter.fillter-style1 .item-fillter.fillter-active{color: #efb916;}
.portfolio_fillter.fillter-style2 .item-fillter:after{background-color: #efb916;}
.portfolio_fillter.fillter-style2 .item-fillter.fillter-active{color: #efb916}
.portfolio_fillter.fillter-style3 .item-fillter.fillter-active{ background: #efb916;}
.item-portfolio .pf-title > a:hover{ color: #efb916;}
.item-portfolio .pf-cat a:hover{color: #efb916;}
.item-portfolio .pf-icon:hover{color: #efb916;}
.portfolio-style3 .pf-social a:hover{color: #efb916;}
.pf-hover2 .pf-title { color: #efb916;}
.portfolio-slide .owl-prev:hover,
.portfolio-slide .owl-next:hover{color: #efb916; border-color: #efb916;}
.bz-pf-detail .pf-cat a:hover{color: #efb916}
.pf-meta li a:hover{color: #efb916}
.pf-meta li.pf-webclient a{ color: #efb916;}
.list-relate-project .owl-controls .owl-dots .owl-dot.active{background: #efb916;}
.bz-slidecontent .item-content .button:hover{background-color: #efb916}
.provide-style1 .item-provide .content-hover{background-color: #efb916;}
.provide-style2 .item-provide .provide-icon{background-color: #efb916;}
.provide-style2 .item-provide .link-readmore:hover{
    border-color: #efb916;
    background-color: #efb916;
}
.bz-list-provide .owl-nav > div:hover{
    background-color: #efb916;
    border-color: #efb916;
}
.contact-form input[type="submit"]:hover{ background: #efb916;}
.block-contactinfo > h6{color: #efb916;}
.block-contactinfo a:hover{color: #efb916}
.contact-form label span{color: #efb916;}
.bz-contact-info .icon-contact{background-color: #efb916;}
.bz-contact-info .contact-info a:hover{color: #efb916}
.contact-form.style-2 input[type="text"]:focus,
.contact-form.style-2 input[type="mail"]:focus,
.contact-form.style-2 textarea:focus{
    outline: 2px solid #efb916;
}
.contact-form.style-2 input[type="submit"]{
    background-color: #efb916;
    border-color: #efb916;
}
.contact-form.style-2 input[type="submit"]:hover{color: #efb916;}
.content-style2 .button:hover{color: #efb916;}
.footer-style2 .widget ul li a{color: inherit;}
.footer-style2 .widget ul li a:hover{color: #efb916;}
.footer-style2 .footer-menu a:hover{color: #efb916;}
.list-latest-news li h3.title-post a:hover{color: #efb916}
.content-res .button:hover{color: #efb916;}
.service-resstyle .sub-title{ color: #efb916;}
.portfolio-resstyle .pf-desc{ color: #efb916;}
.portfolio-resstyle .pf-price{color: #efb916;}
.bz-tab-menuweek .resp-tabs-list li.resp-tab-active{color: #efb916;}
.info-resv .open-hours{background-color: #efb916;}
.form-resv input[type="submit"]{
    background: #efb916;
    border-color: #efb916;
}
.form-resv input[type="submit"]:hover{color: #efb916}
.item-countdown .title{ color: #efb916;}
.testimonials-style3.light .testimonial .inner span{color: #efb916;}
.slide-lastest .owl-nav > div:hover{ color: #efb916;}
.slide-lastest .blog-item .info-post {background-color: rgba(94, 89, 157, 0.9);}
.section-6 .row-icon5 .element-icon-5 .icon{ background: #efb916;}

/* custom.css */
.text-color-primary{
    color:#efb916;
}
.nav-style2.owl-carousel .owl-next:hover, 
.nav-style2.owl-carousel .owl-prev:hover{
    border-color: #efb916;
    color: #efb916;
}
.nav-style3.owl-carousel .owl-next:hover, 
.nav-style3.owl-carousel .owl-prev:hover{
    border-color: #efb916;
    color: #efb916;
}
.widget ul li a:hover {
    color: #efb916;
}
.widget_product_categories li a:hover,
.widget_product_categories li.current-cat a,
.widget_layered_nav li a:hover{
    color: #efb916;
}
.tagcloud a:hover{
    background-color: #efb916;
}
.widget_price_filter .slider-range-price{
    background: #efb916;
}
.widget_product_top_sale .p-name a:hover{
    color: #efb916;
}
.blog-slidebar .widget .widget-title:after{
    background-color: #efb916;
}
.widget_categories li>a:hover{
    color: #efb916;
}
.widget_about_me a:hover{
    color: #efb916;
}
.main-menu>ul>li>a:before{
    border-color: #efb916;
}
.main-menu .sub-menu>li>a:hover,
.main-menu .sub-menu>li>a:focus{
    color: #efb916;
}
.megamenu .widget ul li a:hover{
    color:#efb916 ;
}
.megamenu .owl-carousel .owl-next:hover,
.megamenu .owl-carousel .owl-prev:hover{
    background-color: #efb916;
    border-color: #efb916;
}
.mini-cart-content .price{
    color: #efb916;
}
.mini-cart-content .sub-toal-wapper .sub-toal{
    color: #efb916;
}
.mini-cart-content .button.outline:hover{
    color: #efb916;
}
.footer a:hover,
.footer a:focus,
.footer .widget ul li a:hover,
.footer .widget ul li:focus{
    color: #efb916;
}
.footer-social a:hover,
.footer-social a:focus{
    background-color: #efb916;
    border-color: #efb916;
}
.footer .widget_text h6{
    color: #efb916;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus{
    color: #efb916;
}
.team .team-social a:hover{
    color: #efb916;
}
.team-style4 .team-social{
    background-color: #efb916;
}
.team-style4 .postion{
    color: #efb916;
}
.team-style5 .postion {
    color:#efb916 ;
}
.team-style6 .postion {
    color:#efb916;
}
.testimonials-style1 .testimonial h6{
    color: #efb916;
}
.testimonials-style3 .testimonial h6{
    color: #efb916;
}
.testimonials-style5 span{
    color: #efb916;
}
.pricing-table .popular span{
    background-color: #efb916;
}
.pricing-table-style2 .pricing-button:hover{
    background-color: #efb916;
}
.pricing-table-style3.active .head,
.pricing-table-style3.active .pricing-button{
    background-color: #efb916;
    border-color: #efb916;
}
.pricing-table-style4 .price{
    color: #efb916;
}
.pricing-table-style4.active .pricing-button{
    background-color: #efb916;
    border-color: #efb916;
}
.button:hover{
    background-color:#efb916;
    border-color: #efb916;
}
.button.primary{
    background-color: #efb916;
    border-color: #efb916;
}
.button-custom:hover{
    color: #efb916;
}
.faq-category li:after{
    border-left: 7px solid #efb916;
}
.faq-category li:hover,
.faq-category li.active,
.faq-category li.current-cat{
    background-color: #efb916;
}
.bz-acordion.acordion2 > h3.ui-accordion-header.ui-accordion-header-active .ui-icon{
    background-color: #efb916;
}
.form-contact2.form-contact input[type="text"]:focus, 
.form-contact2.form-contact input[type="email"]:focus, 
.form-contact2.form-contact input[type="password"]:focus, 
.form-contact2.form-contact input[type="number"]:focus, 
.form-contact2.form-contact textarea:focus{
    outline: 2px solid #efb916;
}
.element-icon-10 .icon{
    background-color: #efb916;
}
.product .add_to_cart_button:hover,
.product .add_to_cart_button:focus,
.product .added_to_cart:hover,
.product .added_to_cart:focus{
    background-color:#efb916;
}
.product .product-name a:hover,
.product .product-name a:focus,
.product .product-name a:active{
    color: #efb916;
}
.product .price{
    color: #efb916;
}
.pagination ul li.active a,
.pagination ul li a:hover,
.pagination ul li a:focus{
    color: #efb916;
}
.display-product-option a:hover,
.display-product-option a.selected{
    color: #efb916;
}
.summary .product-meta a:hover{
    color: #efb916;
}
.summary .price{
    color: #efb916;
}
.summary .single_variation_wrap .buttom-compare:hover,
.summary .single_variation_wrap .buttom-wishlist:hover{
    background: #efb916;
    border-color:#efb916;
}
.summary .product-share a:hover,
.summary .product-share a:focus{
    color: #efb916;
}
.product-tabs .review_form .comment-reply-title:after{
    background-color: #efb916;
}
.block-products .product-name a:hover{
    color: #efb916;
}
.blog-item.style3 .post-cat a:hover,
.blog-item.style3 .blog-title>a:hover{
    color: #efb916;
}
.blog-item.style3 .readmore-button:hover{
    border-color: #efb916;
}
.blog-item.style6  .readmore-button:hover{
    color: #efb916;
}
.blog-single .bottom-post .tags a:hover{
    color: #efb916;
}
.groupshare ul li a:hover .fa{
    background-color: #efb916;
}
.leave-reply .comment-form label span {
    color: #efb916;
}
.block-slide-text.owl-carousel  .owl-next:hover, 
.block-slide-text.owl-carousel  .owl-prev:hover{
    border-color: #efb916;
    color: #efb916;
}
.block-about-3 .social a:hover{
    background-color: #efb916;
    border-color: #efb916;
}
.block-tab-products .item-fillter.fillter-active,
.block-tab-products .bz-horizontalTab .resp-tabs-list .resp-tab-active{
    color: #efb916;
}
.block-lastest-new .title a:hover{
    color: #efb916;
}
.sidebar-menu .bz-mini-cart .icon .count{
    background-color: #efb916;
}
.sidebar-menu .main-menu>ul>li>a:hover,
.sidebar-menu .main-menu>ul>li.current-menu-item>a{
    color: #efb916;
}
.main-menu > ul > li.bz-mini-cart > a .count{background-color: #efb916;}
 .scroll_top{
    background-color: #efb916;
 }